--- 
  - name: Install git maven,java and tomcat and restart tomcat
    hosts: all
    tasks: 
       - name: Install git
         apt: 
           name: git
           state: present
           update_cache: yes
       - name: Install java
         apt: 
           name: openjdk-17-jdk
           state: present
       - name: install maven
         apt: 
            name: maven
            state: present
       - name: install tomcat
         apt: 
           name: tomcat10
           state: present

       - name: Restart tomcat
         service: 
            name: tomcat10
            state: restarted
...              

